@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@layer components {
  a {
    @apply no-underline;
  }

  /* SCROLLBAR - style for firefox */
  * {
    scrollbar-color: #26a9e0 #29292e; /* scroll thumb and track color */
  }

  /* SCROLLBAR - style for chrome */
  ::-webkit-scrollbar {
    @apply h-1 w-1 rounded-full;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
  ::-webkit-scrollbar-track {
    @apply bg-dark-300;
  }

  /* SCROLLBAR - hide scrollbar for chrome and firefox */
  .hiddenScrollbar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  .hiddenScrollbarFirefox {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* CONTAINER - Usado para dar um espaçamento esquerdo e direito */
  .wrapper {
    @apply mx-auto w-[96%] max-w-7xl;
  }

  /* Use to add accessibility focus to an element focus:ring-offset- is color to background */
  .accessibilityFocus {
    @apply focus-visible:outline-none focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-gray-800 focus-visible:focus:ring-2;
  }

  /* FONTES - Estilos de fontes do projeto, obs definir fonte-family */
  .headline1 {
    @apply text-8xl font-normal leading-normal -tracking-[.094rem] lg:max-w-[calc(96px_*_30)];
  }
  .headline2 {
    @apply text-6xl font-normal leading-normal -tracking-[.031rem] lg:max-w-[calc(60px_*_30)];
  }
  .headline3 {
    @apply text-5xl font-normal leading-normal tracking-normal lg:max-w-[calc(48px_*_30)];
  }
  .headline4 {
    @apply text-4xl font-normal leading-normal tracking-[.016rem] lg:max-w-[calc(36px_*_30)];
  }
  .headline5 {
    @apply text-2xl font-normal leading-normal tracking-normal lg:max-w-[calc(24px_*_30)];
  }
  .headline6 {
    @apply text-xl font-medium leading-normal tracking-[.009rem] lg:max-w-[calc(20px_*_30)];
  }
  .subtitle1 {
    @apply text-lg font-normal leading-relaxed tracking-[.009rem] lg:max-w-[calc(18px_*_30)];
  }
  .subtitle2 {
    @apply text-base font-medium leading-relaxed tracking-[.006rem] lg:max-w-[calc(16px_*_30)];
  }
  .body1 {
    @apply text-base font-normal leading-loose tracking-[.031rem] lg:max-w-[calc(16px_*_30)];
  }
  .body2 {
    @apply text-sm font-normal leading-loose tracking-[.016rem] lg:max-w-[calc(14px_*_30)];
  }
  .button {
    @apply text-sm font-medium uppercase leading-tight tracking-[.078rem];
  }
  .caption {
    @apply text-xs font-normal leading-relaxed tracking-[.025rem] sm:max-w-[calc(12px_*_30)];
  }
  .font-overline {
    @apply text-xs font-normal uppercase leading-relaxed tracking-[.094rem];
  }
}
